<!-- Begin Main Header Area -->
<header class="main-header_area position-relative">
    <style>
        .dropdown-content a:hover {
            background: #eee;
            /*background: rgb(186, 195, 78);*/
            transition: all 0.8s;
        }

        .dropdown-content {
            display: none;
            width: 470px;
            height: 500px;
            position: absolute;
            overflow: auto;
            z-index: 10000;
            background: gray;
            margin: 55px 0px 0px 205px;
        }

        .dropdown-content .header-search {
            background: #eee;
            width: 100%;
            height: 30px;
            line-height: 30px;
        }

        .dropdown-content .header-search .headerSearch-content {
            font-weight: bold;
            width: 100%;
            font-size: 14px;
            color: #323c3f;
            padding: 0px 0px 0px 5px;
        }

        .dropdown-content a {
            width: 100%;
            height: 110px;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a .search-content {
            width: 100%;
            height: 100%;
        }

        .dropdown-content a .search-content .search-content-img {
            width: 22%;
            height: 100%;
            float: left;
            margin: 5px;
        }

        .dropdown-content a .search-content .search-content-img img {
            width: 90%;
            height: 90%;
        }

        .dropdown-content a .search-content .search-noidung {
            width: 75%;
            height: 110px;
            float: left;
        }

        .dropdown-content a .search-content .search-noidung .nameSearch {
            font-size: 15px;
            text-transform: capitalize;
            line-height: 35px;
            padding: 0px 0px 0px 10px;
        }

        .dropdown-content a .search-content .search-noidung .priceSearch {
            padding: 0px 0px 0px 10px;
            line-height: 25px;
            font-size: 13px;
        }
        .show {
            display: block;
        }
    </style>
    <div class="header-top border-bottom d-none d-md-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="header-top-left">
                        <ul class="dropdown-wrap text-matterhorn">
                            <!-- <li class="dropdown">
                                <button class="btn btn-link dropdown-toggle ht-btn" type="button" id="languageButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    English
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="languageButton">
                                    <li><a class="dropdown-item" href="#">French</a></li>
                                    <li><a class="dropdown-item" href="#">Italian</a></li>
                                    <li><a class="dropdown-item" href="#">Spanish</a></li>
                                </ul>
                            </li> -->
                            <!-- <li class="dropdown">
                                <button class="btn btn-link dropdown-toggle ht-btn" type="button" id="currencyButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    USD
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="currencyButton">
                                    <li><a class="dropdown-item" href="#">GBP</a></li>
                                    <li><a class="dropdown-item" href="#">ISO</a></li>
                                </ul>
                            </li> -->
                            <li>
                                Liên hệ
                                <a>0396541044</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="header-top-right text-matterhorn">
                        <p class="shipping mb-0">Miễn phí vận chuyển cho đơn hàng từ <span>1.500.000VND</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="header-middle-wrap">
                        <a class="header-logo">
                            <img src="assets/images/logo/dark.png" alt="Header Logo">
                        </a>
                        <div class="header-search-area d-none d-lg-block">
                            <form class="header-searchbox">
                                <select class="nice-select select-search-category wide">
                                    <option value="all">Tất cả giày</option>
                                    <!-- <option value="product-item">Product Item</option>
                                    <option value="product-item-2">Product Item 02</option>
                                    <option value="product-item-3">Product Item 03</option>
                                    <option value="product-item-4">Product Item 04</option>
                                    <option value="product-item-5">Product Item 05</option> -->
                                </select>
                                <div id="myDropdown" class="dropdown-content">
                                    <div class="header-search">
                                        <span class="headerSearch-content">Sản phẩm gợi ý</span>
                                    </div>
                                    <!-- search converse -->
                                    <a routerLink="/chitietsp/{{item.id}}" *ngFor="let item of sanphams">
                                        <div class="search-content">
                                            <div class="search-content-img">
                                                <img src="http://localhost:18058/images/{{item.anh}}" alt="">

                                            </div>
                                            <div class="search-noidung">
                                                <span class="nameSearch">{{item.tenSP}}</span><br>
                                                <span class="priceSearch">Giá bán:<span
                                                        style="color: #d0021b; font-size: 17px; padding: 0px 3px 0px 15px">{{item.giaBan
                                                        | number}}</span>VND</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <input class="input-field" type="text" placeholder="Tìm kiếm sản phẩm" id="myInput" name="search" onkeyup="filterFunction()" onclick="myFunction()">
                                <button class="btn btn-outline-whisper btn-primary-hover" type="submit"><i
                                        class="pe-7s-search"></i></button>
                            </form>
                        </div>
                        <div class="header-right">
                            <ul>
                                <li class="dropdown d-none d-md-block">
                                    <button class="btn btn-link dropdown-toggle ht-btn p-0" type="button"
                                        id="settingButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="pe-7s-users"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingButton">
                                        <li><a class="dropdown-item">Tài Khoản</a></li>
                                        <li><a class="dropdown-item">Đăng Nhập | Đăng Kí</a></li>
                                    </ul>
                                </li>
                                <li class="d-none d-md-block">
                                    <a>
                                        <i class="pe-7s-like"></i>
                                    </a>
                                </li>
                                <li class="d-block d-lg-none">
                                    <a class="search-btn toolbar-btn">
                                        <i class="pe-7s-search"></i>
                                    </a>
                                </li>
                                <li class="minicart-wrap me-3 me-lg-0">
                                    <a class="minicart-btn toolbar-btn">
                                        <i class="pe-7s-shopbag"></i>
                                        <span class="quantity">3</span>
                                    </a>
                                </li>
                                <li class="mobile-menu_wrap d-block d-lg-none">
                                    <a class="mobile-menu_btn toolbar-btn pl-0">
                                        <i class="pe-7s-menu"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-header header-sticky" data-bg-color="#bac34e">
        <div class="container">
            <div class="main-header_nav position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-12 d-none d-lg-block">
                        <div class="main-menu">
                            <nav class="main-nav">
                                <ul>
                                    <li class="drop-holder">
                                        <a routerLink="/home">Trang chủ
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                        <!-- <ul class="drop-menu">
                                            <li>
                                                <a href="index.html">Home One</a>
                                            </li>
                                            <li>
                                                <a href="index-2.html">Home Two</a>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li>
                                        <a routerLink="/tintuc">Tin tức</a>
                                    </li>
                                    <li>
                                        <a routerLink="/loaisanpham">Loại giày</a>
                                    </li>
                                    <li class="megamenu-holder">
                                        <a>Cửa hàng
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                        <ul class="drop-menu megamenu">
                                            <li>
                                                <span class="title">Danh sách loại giày</span>
                                                <ul>
                                                    <li *ngFor="let lsp of loaisphams">
                                                        <a routerLink="/loaisanpham/{{lsp.id}}">{{lsp.tenLoai}}</a>
                                                    </li>
                                                    <!-- <li>
                                                        <a href="shop-left-sidebar.html">Shop Left Sidebar</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-right-sidebar.html">Shop Right Sidebar</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-list-fullwidth.html">Shop List Fullwidth</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a>
                                                    </li> -->
                                                </ul>
                                            </li>
                                            <li class="menu-slider-wrap">
                                                <div class="swiper-container menu-slider">
                                                    <div class="swiper-wrapper">
                                                        <div class="swiper-slide img-zoom-effect with-overlay">
                                                            <a href="#" class="single-item">
                                                                <img class="img-full"
                                                                    src="assets/images/banner/banner1.png"
                                                                    alt="Megamenu Slider" style="width:293px;height: 387px;">
                                                            </a>
                                                        </div>
                                                        <div class="swiper-slide img-zoom-effect with-overlay">
                                                            <a href="#" class="single-item">
                                                                <img class="img-full"
                                                                    src="assets/images/banner/banner1.png"
                                                                    alt="Megamenu Slider" style="width:293px;height: 387px;">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- <li>
                                                <span class="title">Product Style</span>
                                                <ul>
                                                    <li>
                                                        <a href="single-product.html">Single Product Default</a>
                                                    </li>
                                                    <li>
                                                        <a href="single-product-group.html">Single Product Group</a>
                                                    </li>
                                                    <li>
                                                        <a href="single-product-variable.html">Single Product
                                                            Variable</a>
                                                    </li>
                                                    <li>
                                                        <a href="single-product-sale.html">Single Product Sale</a>
                                                    </li>
                                                    <li>
                                                        <a href="single-product-sticky.html">Single Product Sticky</a>
                                                    </li>
                                                    <li>
                                                        <a href="single-product-affiliate.html">Single Product
                                                            Affiliate</a>
                                                    </li>
                                                </ul>
                                            </li> -->
                                            <li>
                                                <span class="title">Product Related</span>
                                                <ul>
                                                    <li>
                                                        <a>Tài Khoản</a>
                                                    </li>
                                                    <li>
                                                        <a>Đăng Nhập | Đăng Kí</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/cart">Giỏ Hàng</a>
                                                    </li>
                                                    <li>
                                                        <a>Sản phẩm yêu thích</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/loaisanpham">Loại giày</a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/checkout">Thanh toán</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-slider-wrap">
                                                <div class="swiper-container menu-slider">
                                                    <div class="swiper-wrapper">
                                                        <div class="swiper-slide img-zoom-effect with-overlay">
                                                            <a href="#" class="single-item">
                                                                <img class="img-full"
                                                                    src="assets/images/banner/banner1.png"
                                                                    alt="Megamenu Slider" style="width:293px;height: 387px;">
                                                            </a>
                                                        </div>
                                                        <div class="swiper-slide img-zoom-effect with-overlay">
                                                            <a href="#" class="single-item">
                                                                <img class="img-full"
                                                                    src="assets/images/banner/banner1.png"
                                                                    alt="Megamenu Slider" style="width:293px;height: 387px;">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- <li class="drop-holder">
                                        <a>Pages
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                        <ul class="drop-menu">
                                            <li>
                                                <a>Frequently Questions</a>
                                            </li>
                                            <li>
                                                <a>Error 404</a>
                                            </li>
                                        </ul>
                                    </li> -->
                                    <!-- <li class="drop-holder">
                                        <a href="javascript:void(0)">Blog
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                        <ul class="drop-menu">
                                            <li class="sub-dropdown-holder">
                                                <a href="javascript:void(0)">Blog Holder</a>
                                                <ul class="drop-menu sub-dropdown">
                                                    <li>
                                                        <a href="blog.html">Blog Default</a>
                                                    </li>
                                                    <li>
                                                        <a href="blog-left-sidebar.html">Blog Left Sidebar</a>
                                                    </li>
                                                    <li>
                                                        <a href="blog-right-sidebar.html">Blog Right Sidebar</a>
                                                    </li>
                                                    <li>
                                                        <a href="blog-list-left-sidebar.html">Blog List Left Sidebar</a>
                                                    </li>
                                                    <li>
                                                        <a href="blog-list-right-sidebar.html">Blog List Right Sidebar</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="sub-dropdown-holder">
                                                <a href="javascript:void(0)">Blog Detail Holder</a>
                                                <ul class="drop-menu sub-dropdown">
                                                    <li>
                                                        <a href="blog-detail.html">Blog Detail Default</a>
                                                    </li>
                                                    <li>
                                                        <a href="blog-detail-left-sidebar.html">Blog Detail Left Sidebar</a>
                                                    </li>
                                                    <li>
                                                        <a href="blog-detail-right-sidebar.html">Blog Detail Right Sidebar</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li> -->
                                    <li>
                                        <a routerLink="/lienhe">Liên hệ</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu_wrapper" id="mobileMenu">
        <div class="offcanvas-body">
            <div class="inner-body">
                <div class="offcanvas-top">
                    <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
                </div>
                <div class="offcanvas-user-info text-center px-6 pb-5">
                    <div class=" text-silver">
                        <p class="shipping mb-0">Miễn phí vận chuyển đơn hàng từ<span
                                class="text-primary">1.500.000VND</span></p>
                    </div>
                    <ul class="dropdown-wrap justify-content-center text-silver">
                        <li class="dropdown dropup">
                            <button class="btn btn-link dropdown-toggle ht-btn" type="button" id="languageButtonTwo"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                English
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="languageButtonTwo">
                                <li><a class="dropdown-item" href="#">French</a></li>
                                <li><a class="dropdown-item" href="#">Italian</a></li>
                                <li><a class="dropdown-item" href="#">Spanish</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropup">
                            <button class="btn btn-link dropdown-toggle ht-btn usd-dropdown" type="button"
                                id="currencyButtonTwo" data-bs-toggle="dropdown" aria-expanded="false">
                                USD
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="currencyButtonTwo">
                                <li><a class="dropdown-item" href="#">GBP</a></li>
                                <li><a class="dropdown-item" href="#">ISO</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropup">
                            <button class="btn btn-link dropdown-toggle ht-btn p-0" type="button" id="settingButtonTwo"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="pe-7s-users"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingButtonTwo">
                                <li><a class="dropdown-item">Tài Khoản</a></li>
                                <li><a class="dropdown-item">Đăng Nhập | Đăng Kí</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>
                                <i class="pe-7s-like"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="offcanvas-menu_area">
                    <nav class="offcanvas-navigation">
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children">
                                <a routerLink="/home">
                                    <span class="mm-text">Trang chủ
                                        <i class="pe-7s-angle-down"></i>
                                    </span>
                                </a>
                                <!-- <ul class="sub-menu">
                                    <li>
                                        <a href="index.html">
                                            <span class="mm-text">Home One</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index-2.html">
                                            <span class="mm-text">Home Two</span>
                                        </a>
                                    </li>
                                </ul> -->
                            </li>
                            <li>
                                <a routerLink="/lienhe">
                                    <span class="mm-text">Liên hệ</span>
                                </a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">
                                    <span class="mm-text">Shop
                                        <i class="pe-7s-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mm-text">Shop Layout
                                                <i class="pe-7s-angle-down"></i>
                                            </span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="shop.html">
                                                    <span class="mm-text">Shop Default</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-leftsidebar.html">
                                                    <span class="mm-text">Shop Left Sidebar</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-rightsidebar.html">
                                                    <span class="mm-text">Shop Right Sidebar</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-list-fullwidth.html">
                                                    <span class="mm-text">Shop List Fullwidth</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-list-left-sidebar.html">
                                                    <span class="mm-text">Shop List Left Sidebar</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-list-right-sidebar.html">
                                                    <span class="mm-text">Shop List Right Sidebar</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mm-text">Product Style
                                                <i class="pe-7s-angle-down"></i>
                                            </span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="single-product.html">
                                                    <span class="mm-text">Single Product Default</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="single-product-group.html">
                                                    <span class="mm-text">Single Product Group</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="single-product-variable.html">
                                                    <span class="mm-text">Single Product Variable</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="single-product-sale.html">
                                                    <span class="mm-text">Single Product Sale</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="single-product-sticky.html">
                                                    <span class="mm-text">Single Product Sticky</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="single-product-affiliate.html">
                                                    <span class="mm-text">Single Product Affiliate</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mm-text">Product Related
                                                <i class="pe-7s-angle-down"></i>
                                            </span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="my-account.html">
                                                    <span class="mm-text">My Account</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="login-register.html">
                                                    <span class="mm-text">Login | Register</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="cart.html">
                                                    <span class="mm-text">Shopping Cart</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="wishlist.html">
                                                    <span class="mm-text">Wishlist</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="compare.html">
                                                    <span class="mm-text">Compare</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="checkout.html">
                                                    <span class="mm-text">Checkout</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">
                                    <span class="mm-text">Pages
                                        <i class="pe-7s-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="faq.html">
                                            <span class="mm-text">Frequently Questions</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="404.html">
                                            <span class="mm-text">Error 404</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">
                                    <span class="mm-text">Blog
                                        <i class="pe-7s-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mm-text">Blog Holder
                                                <i class="pe-7s-angle-down"></i>
                                            </span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="blog.html">
                                                    <span class="mm-text">Blog Default</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="blog-left-sidebar.html">
                                                    <span class="mm-text">Blog Left Sidebar</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="blog-right-sidebar.html">
                                                    <span class="mm-text">Blog Right Sidebar</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="blog-list-left-sidebar.html">
                                                    <span class="mm-text">Blog List Left Sidebar</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="blog-list-right-sidebar.html">
                                                    <span class="mm-text">Blog List Right Sidebar</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mm-text">Blog Detail Holder
                                                <i class="pe-7s-angle-down"></i>
                                            </span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="blog-detail.html">
                                                    <span class="mm-text">Blog Detail Default</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="blog-detail-left-sidebar.html">
                                                    <span class="mm-text">Blog Detail Left Sidebar</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="blog-detail-right-sidebar.html">
                                                    <span class="mm-text">Blog Detail Right Sidebar</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <span class="mm-text">Contact</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-search_wrapper" id="searchBar">
        <div class="offcanvas-body">
            <div class="container h-100">
                <div class="offcanvas-search">
                    <div class="offcanvas-top">
                        <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
                    </div>
                    <span class="searchbox-info">Start typing and press Enter to search</span>
                    <form action="#" class="hm-searchbox">
                        <input type="text" placeholder="Search">
                        <button class="search-btn" type="submit"><i class="pe-7s-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-minicart_wrapper" id="miniCart">
        <div class="offcanvas-body">
            <div class="minicart-content">
                <div class="minicart-heading">
                    <h4 class="mb-0">Giỏ Hàng</h4>
                    <a class="button-close"><i class="pe-7s-close"></i></a>
                </div>
                <ul class="minicart-list">
                    <li class="minicart-product">
                        <a class="product-item_remove"><i class="pe-7s-close"></i></a>
                        <a class="product-item_img">
                            <img class="img-full" src="assets/images/product/small-size/1-1-112x124.jpg"
                                alt="Product Image">
                        </a>
                        <div class="product-item_content">
                            <a class="product-item_title">Black Pepper Grains</a>
                            <span class="product-item_quantity">1 x $80.00</span>
                        </div>
                    </li>
                    <li class="minicart-product">
                        <a class="product-item_remove" href="#"><i class="pe-7s-close"></i></a>
                        <a href="shop.html" class="product-item_img">
                            <img class="img-full" src="assets/images/product/small-size/1-2-112x124.jpg"
                                alt="Product Image">
                        </a>
                        <div class="product-item_content">
                            <a class="product-item_title" href="shop.html">Peanut Big Bean</a>
                            <span class="product-item_quantity">1 x $80.00</span>
                        </div>
                    </li>
                    <li class="minicart-product">
                        <a class="product-item_remove" href="#">
                            <i class="pe-7s-close"></i>
                        </a>
                        <a href="shop.html" class="product-item_img">
                            <img class="img-full" src="assets/images/product/small-size/1-3-112x124.jpg"
                                alt="Product Image">
                        </a>
                        <div class="product-item_content">
                            <a class="product-item_title" href="shop.html">Dried Lemon Green</a>
                            <span class="product-item_quantity">1 x $80.00</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="minicart-item_total">
                <span>Subtotal</span>
                <span class="ammount">$240.00</span>
            </div>
            <div class="group-btn_wrap d-grid gap-2">
                <a routerLink="/cart" class="btn btn-secondary btn-primary-hover">Giỏ Hàng</a>
                <a routerLink="/checkout" class="btn btn-secondary btn-primary-hover">Thanh Toán</a>
            </div>
        </div>
    </div>
    <div class="global-overlay"></div>
</header>
<!-- Main Header Area End Here -->